name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]  # Or 'master' if your branch is named that

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://Luke30074zm:$HF_TOKEN@huggingface.co/spaces/Luke30074zm/TGBOT main
